
/* Your CSS Code here. */
.item{
background-color:black;
	border:2px solid black;
	/* margin:1px; */
	width:70px;
	height:70px;
	color:black;
	
}

.holder{
	display:flex;
	color:white;
	flex-direction:row;
	align-items:center;
	justify-content:center;
}

.item1{
	background-color:blue;
	
}

.item2{
	background-color:red;
	
}

.item3{

	background-color:green;
}